.header {
	background-color: #0070BA;
	width: 100%;
	@media (min-width: 480px) {
		height: 102px;
	
	}

	&__container {
		max-width: 1200px;
		margin-inline: auto;
		display: flex;
		align-items: center;
		padding: 15px 30px;
		// display: none;
		@media (max-width: 480px) {
			padding: 10px 20px;
		}
	}

	&__text {
		color: #FFF;
		@media (min-width:414px){
			  
		margin-left: 40px;
		}
		margin-left: 10px;
	}

	&__phone {
		@media (max-width: 480px) {
			width: 30px;
			img {
				width: 100%;
			}
		}
	}

	&__email {
		@media (max-width: 480px) {
			width: 30px;
			img {
				width: 100%;
			}
		}
	}

	&__links {
		display: flex;
		gap: 10px;
		margin-left: auto;

		@media (max-width: 480px) {
			padding-left: 10px;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		@media (max-width: 414px){
			width: 100px;
			flex: 0 0 100px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	// @media (min-width: 320px) {
	// 	@media (min-height: 480px) {
	// 	}
	// }

	;

	@media (min-width: 320px) {
		@media (min-height: 667px) {
			height: 62px;
		}
	}

	;

	@media (min-width: 414px) {
		@media (min-height: 736px) {
			height: 69px;
		}
	}

	;


	@media (min-width: 480px) {
		// height: 68px;
	}

	;

	@media (min-width: 480px) {
		@media (min-height: 800px) {
			height: 80px;
		}
	}

	;

	@media (min-width: 768px) {
		// height: 68px;
	}

	;

	@media (min-width: 1920px) {
		// height: 102px;
	}

	;

}